[Desktop Entry]
Name=MTSSH
Comment=Multi-Tabbed SSH Client
Exec=mtssh
Icon=mtssh
Terminal=false
Type=Application
Categories=Network;RemoteAccess;System;
Keywords=ssh;terminal;remote;
